:root{
    --primary: rgb(240, 240, 240);
    --secondary: rgb(200, 200, 200);
    --third: rgb(220, 220, 220);
    --code: white;
    --codeText:black;
    --text: black;
}
#tab-size{
    background-color: var(--code);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
*:not(.editor):not(input){
    user-select: none;
}
::placeholder{
    color: var(--text);
}
html, body {
    height: 100%;
}
body {
    display: flex;
}
.settings-dark{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.5;
    display:none;
}
.maximize , .minimize{
    position: absolute;
    top: 10px;
    right: 10px;
    width: 30px;
    height: 30px;
    cursor: pointer;
    z-index : 1000;
}
.minimize{
    display : none;
}
.toolbar div{
    text-align: center;
    display: flex;
    font-size: larger;
    gap :0;
    flex: auto;
    justify-content: center;
    align-items: center;
    border-right : 1px solid var(--secondary);
    border-left : 1px solid var(--secondary);
}
.toolbar div:hover {
    background-color: var(--third);
    cursor: pointer;
}
.text-container , .preview {
    height: 100%;
    
}
.text-container {
    background-color: whitesmoke;
    display: flex;
    flex: 0 0;
    min-width: 510px;
    max-width: 75%;
    position: relative;
    flex-direction: column;
    border-right : 5px solid var(--secondary);

}
.toolbar {
    height: 5%;
    background-color: var(--primary);
    border-bottom : 2px solid var(--secondary);
    width: 100%;
    display : flex;
}



.preview {
    width:100%;
    border:none;
    display : flex;
    justify-content: center;
    align-items: center;
}
.settings{
    display : flex;
    justify-content: space-around;
    gap : 10px;
    width:100%;
    height:10%;
    align-items: center;
    background-color: var(--primary);
    border-top: 2px solid var(--secondary);
}
.setting{
    cursor: pointer;
    transition : rotate 0.6s;
}
.setting.active{
    rotate : -60deg;
}

.settings-menu{
    position: absolute;
    transform: translate(-30% ,-100%);
    background-color: var(--primary);
    border : 2px solid var(--secondary);
    padding : 10px;
    display : none;
    z-index : 1000;
    width : fit-content;
    height:fit-content;
}

label{
    width: fit-content;
}
img:not(.sun):not(.moon){
    max-width: 50%;
    max-height: 50%;
}
.sun{
    max-height:75%;
    transition : display 0.6s;
}
.sun.active{
    display : none;
}
.moon{
    display : none;
    max-height:75%;
    transition : display 0.6s;  
}
.moon.active{
    display : block;
}   
.rectangle{
    display:flex;
    flex-direction: column;
    max-width: 125px;
    min-width:50px;
    justify-content: center;
    align-items: center;
    width: 17.4%;
    height: 27.1%;
    box-sizing: border-box;
    border-radius: 13px;
    border : 3px solid black;
    background-color: white;
    cursor : pointer;
    transition: background-color 0.6s , border-color 0.6s;
}
.rectangle.active{
    background-color: black;
    border-color: white;
}
.circle {
    background-color: white;
    margin-left : 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    width:50px;
    height: 50px;
    border-radius: 50%;
    border : 3px solid black;
    transition :  margin-left 0.6s , background-color 0.6s , border-color 0.6s;
}
.circle.active {
    margin-left : -100%;
    background-color: black;
    border-color: white;
}
input::placeholder{
    color:var(--text);

}
input {
        background-color: inherit;
    border : none;
    text-overflow:ellipsis ;
    font-size: large;
    width:50%;
    text-align: center;
    color : var(--text);
}
input:focus{
    outline: none;
}
.run{
    width: 100px;
    height: 20px;
    position : absolute;
    top:7%;
    z-index: 100;
    left : 70%;
    background-color: rgb(99,209,109);
    border: 1px solid rgb(96,152,44);
    outline : 1px solid rgb(46,71,31);
    cursor : pointer;
}
.run:hover{
    background-color: rgb(96,152,44);
}
.text-area {
    width: 100%;
    height: 100%;
    background-color: var(--primary);
    display : flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
}
 .editor-container{
    position: relative;
    width: 100%;
    height: 100%;
}
.editor , .highlight{
    position: absolute;
    width : 100%;
    height: 100%;
    padding : 40px;
   font-family: monospace;
   font-size : 14px;
   line-height: 1.5;
   white-space : pre-wrap;
   overflow:auto;
   resize: none;
   border: none;
}
.highlight{
    pointer-events: none;
    color : var(--codeText);
    background-color: var(--code);
}
.editor {
    background-color: transparent;
    color: transparent;
    caret-color: var(--codeText);
    z-index : 2;
}
label{
    color : var(--text);
}
.editor:focus{
    outline: none;
}